[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server
ExecStart=/usr/bin/java -Xmx2048M -Xms512M -jar server.jar nogui

[Install]
WantedBy=multi-user.target
